@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: #c4c4c4;
  /* overflow: hidden; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #555581;
  width: 355px;
  height: 1070px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  /* width: 1142px; */
  /* height: 750px; */
}

.text {
  background-color: #fff;
  width: 325px;
  height: 500px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}

.text p {
  text-align: center;
  font-size: 30px;
  color: #555581;
  font-weight: 600;
  padding: 0 20px;
}

.form-box {
  background-color: #555581;
  width: 425px;
  height: 500px;
}

.form-head {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 30px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 70px;
  margin-right: 24px;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
}

.icon-img:last-child {
  margin-right: 0;
}

.icon-diff {
  padding: 10px 0;
  width: 70px;
}

.or {
  background-color: #c6baba;
  margin: 30px 20px;
  border-radius: 5px;
}

.or p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #555581;
}

.form-group {
  margin-bottom: 18px;
  margin-left: 30px;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: #fff;
}

.form-group input {
  width: 90%;
  padding: 5px;
  outline: none;
  /* border-radius: 3px; */
}

.forms {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-1 {
  border: none;
  color: #fff;
  background-color: #c6baba;
  font-size: 18px;
  padding: 5px 30px;
  border-radius: 9px;
  margin-right: 22px;
}

.button-1:hover {
  color: #555581;
}

.button-2 {
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
}

.button-2:hover {
  text-decoration: underline;
}
